@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff';
    scroll-behavior: smooth;
}

html{
    font-size: calc(60% + 0.8vmin);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: default;
    background-color: #000018;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.25rem 8rem;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    background-color: #1b1b1b;
    font-size: 1rem;
}

.logo-icon a{
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin: 2rem;
    transition: .5s;
}

.logo-icon a:hover{
    color: #000000;
}

.navigation .nav-tab {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    text-decoration:none;
    margin-left: 2.5rem;
    transition: .5s;
}

.navigation .nav-tab::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: .25rem;
    border-radius: 50rem;
    background: #ff0000;
    transform: scale(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation .nav-tab:hover::after{
    transform-origin: left;
    transform: scale(1);
}

.navigation a:hover{
    color: #ff0000;
}

.navigation .login-menu-btn{
    background: transparent;
    width: 10rem;
    height: 3rem;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    margin-left: 2rem ;
    border: .2rem solid #fff;
    text-align: center;
    transition: .5s;
}

.navigation .login-menu-btn:hover{
    background: #fff;
    color: #000;
}


table{
    width: 40%;
    text-align: center;
    border-spacing: 0;
    font-size: 2rem;
    margin-bottom: 20rem;
}

.head{
    background-color: #1b1b1b;
}

table tr td{
    border: solid 1px #1b1b1b;
}


/* responsive  */

@media (max-width: 1200px) {
    .header{
        padding: 1rem 2rem;
    }


    .navigation .nav-tab{
        font-size: 1.2rem;
    }

    .parallax_warpper .no3{
        transform: translateZ(180px) scale(0.4);
        
    }
}